@model List<FootballLeague.Data.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Team ranking</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Points</td>
            </tr>
        }
    </tbody>
</table>



