@model List<SelectListItem>
@{
    ViewBag.Title = "Create match";
}

<h2>Create match</h2>

@if (TempData["Error"] != null)
{
    <span class="alert-warning">
        @TempData["Error"]
    </span>
}

<form class="form-horizontal" method="post" action="/Matches/FinishCreate">
    <div class="form-group col-sm-offset-2 col-sm-10">
        @Html.DropDownList("teamNameLeft", Model, "Select team")
        -
        @Html.DropDownList("teamNameRight", Model, "Select team")
        <button type="submit" class="btn btn-default btn-success">Add</button>
    </div>

</form>

